

body {
  overflow-x:hidden!important;
  font-size: 1.3rem!important;
}


.jumbotron{
    background-color:ghostwhite;
}

#intro{
  margin-top:100px!important;
}



#intro h1, #intro h3 {
  font-size: 4rem;
}

#subinto{
    margin: 50px 0 50px 0;
}

#code-img{
    opacity:0.8;
    width:100%;
    border-radius: 20px;
}

@media only screen and (max-width: 500px){

    #intro h1, #intro h3 {
        font-size: 3rem;
    }




}

@media only screen and (max-width: 350px){

    #intro h1, #intro h3{
        font-size: 2.5rem;
    }

}