{% extends "layout.html" %}

{% block head %}
<title>joalex.dev | Python Developer | Full-Stack Developer | Freelancer | Admin </title>
{% endblock %}

{% block body %}
<h1>Pawns</h1>
<div class="row">
  <div class="col">
    {% for pawn in pawns %}
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ pawn.name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Messages: <span class="badge badge-warning"> {{ pawn.get_total_messages() }}</span>
                <span class="badge badge-secondary">{{ pawn.get_last_message_timestamp() }}</span></li>
      </ul>
      <div class="card-body">
        <a href="{{ url_for('messages', pawn_id=pawn.id) }}" class="card-link">Messages</a>
        <a href="{{ url_for('screens', pawn_id=pawn.id) }}" class="card-link">Screens</a>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script>
  setTimeout(() => {
    location.reload()
  }, 30000);
</script>
{% endblock %}