{% extends "layout.html" %}

{% block head %}
<title>joalex.dev | Python Developer | Full-Stack Developer | Freelance | Home</title>
{% endblock %}

{% block body %}
  <div class="row text-center">
    <div class="col pr-0">
      <img class="mb-5" src="{{ url_for('static', filename='prog.svg') }}" alt="Programer svg image" width="85%">
      <h1 class="text-white mt-3"><span class="bg-dark">&nbsp; João Oliveira &nbsp; </span> </h1>
      <h2 class="mt-4 mb-5">Python Developer</h2>
    </div>
  </div>
  <div class="mt-5 mb-5">&nbsp;</div>
  <div class="row pl-5 pr-5 mt-5">
    <div class="col text-center">
      <img src="{{ url_for('static', filename='grad.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">I am a <span class="wordshine">Computer Science</span> student at Birkbeck, University of London.</p>     

      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <img src="{{ url_for('static', filename='prog2.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">I develop web applications using <span class="wordshine">Python</span> and <span class="wordshine">JavaScript</span>.</p>

      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <img src="{{ url_for('static', filename='staticweb.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">My skills include 
        <span class="wordshine">HTML</span>,
        <span class="wordshine">CSS</span>,
        <span class="wordshine">JavaScript</span>,
        <span class="wordshine">Python</span> and
        <span class="wordshine">SQL</span>
      .</p>   

      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <img src="{{ url_for('static', filename='sourcecode.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">I am also familiar with development frameworks such as 
        <span class="wordshine">Flask</span>,
        <span class="wordshine">FastAPI</span>,
        <span class="wordshine">Django</span>,
        <span class="wordshine">VueJs</span> and
        <span class="wordshine">React</span>
      ...</p>   

      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <img src="{{ url_for('static', filename='scrum.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">... as well as 
        <span class="wordshine">Git</span>,
        <span class="wordshine">Docker</span>,
        <span class="wordshine">ORMs</span>,
        <span class="wordshine">UI Design</span>,
        <span class="wordshine">TDD</span>
      and much more.</p>   

      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <img src="{{ url_for('static', filename='read.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">In my free time, I like to read about 
        <span class="wordshine">finance</span>, 
        <span class="wordshine">business</span> and <span class="wordshine">new tech</span>.
      </p>      
      
      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <div class="jumbotron">
        <h1 class="display-4">Latest project <span class="badge-success badge">New</span></h1>

        <img class="mt-3" src="{{ url_for('static', filename='ipt.png') }}" alt="Programer svg image" width="100%">
        <p class="mt-4">I like to teach English to adults.</p>
        <p>So I built an app to help me <span class="wordshine">schedule classes</span>,
          <br> <span class="wordshine">manage payments</span> and <span class="wordshine">communicate with</span> my students</p>
        <a class="btn btn-info btn-lg" href="https://ingles.joalex.dev" target="_blank">Inglés Para Todos</a>
      </div>


      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <img src="{{ url_for('static', filename='typing.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">There is only so much I can put here.</p>
      <p>Feel free to download <span class="wordshine">my CV</span>.</p>

      <a class="btn btn-info" href="{{ url_for('cv') }}">Get my CV</a>

      <div class="mt-5 mb-5">&nbsp;</div>
      <div class="mt-5 mb-5">&nbsp;</div>

      <img src="{{ url_for('static', filename='contact.svg') }}" alt="Programer svg image" width="100%">
      <p class="mt-4">Email me at <span class="wordshine">joao00alex@gmail.com</span></p>
    </div>
  </div>
  <div class="mt-5 mb-5">&nbsp;</div>
  <div class="mt-5 mb-5">&nbsp;</div>

{% endblock %}

{% block js %}
{% endblock %}

