{% extends "layout.html" %}

{% block head %}
<title>joalex.dev | Python Developer | Full-Stack Developer | Freelance | Home</title>
{% endblock %}

{% block body %}
  <div id="intro" class="row text-center m-0 ">
    <div class="col">
      <h1 class="text-white"><span class="bg-dark">&nbsp; João Oliveira &nbsp; </span> </h1>
      <h3 id="subinto">Python Developer</h3>
      <div class="row" style="font-size:3rem;">
        <div class="col-3 m-auto"><a style="color: rgb(0,202,201)!important;" target="_blank" href="https://www.linkedin.com/in/joao-oliveira-b2934516b/"><i class="fab fa-linkedin"></i></a></div>
        <div class="col-3 m-auto"><a style="color: rgb(0,202,201)!important;" href="https://github.com/j-000" target="_blank"><i class="fab fa-github"></i></a></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 200px 0 200px 0;">
    <div class="col p-0">
      <div class="jumbotron jumbotron-fluid p-3">
        <div class="container">
          <h2 class="" style="margin-bottom:20px;"><span class="bg-dark text-white text-center pr-3 pl-3" id="about-me">About me</span></h2>
          <p class="" style="margin-top:20px;">I am a Computer Science student at the University of London.</p>
          <p class="">I develop web applications using python, on a commercial, freelancer and project basis.</p>
          <p class="">In my free time, I like to read about finance, business and learn about new tech.</p>
        </div>
      </div>
    </div>
  </div>
<div class="row" style="margin: 200px 0 200px 0;">
    <div class="col p-0">
      <div class="jumbotron jumbotron-fluid p-3">
        <div class="container">
          <h2 class="" style="margin-bottom:20px;"><span class="bg-dark text-white text-center pr-3 pl-3">Tech</span></h2>
          <div class="row" style="font-size:4rem;">
            <div class="col">
              <i class="fab fa-python"></i>
            </div>
            <div class="col">
              <i class="fab fa-html5"></i>
            </div>
            <div class="col">
              <i class="fab fa-css3-alt"></i>
            </div>
            <div class="col">
              <i class="fab fa-js-square"></i>
            </div>
            <div class="col">
              <i class="fab fa-vuejs"></i>
            </div>
            <div class="col">
              <i class="fab fa-docker"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 200px 0 200px 0;">
    <div class="col p-0">
      <div class="jumbotron jumbotron-fluid p-3">
        <div class="container">
          <h2 class="" style="margin-bottom:20px;"><span class="bg-dark text-white text-center pr-3 pl-3">My CV</span></h2>
          <p>Click to download my CV.</p>
          <p class=""><a href="{{ url_for('cv') }}"><img src="{{ url_for('static', filename='imgs/cv_i.JPG') }}" alt="" width="200"></a></p>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block js %}
{% endblock %}

