<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I am a freelancer Full Stack web developer.
    From static websites to fully fledged web apps. Prices from £49. Get in touch hello@joalex.dev.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon-32x32.png')}}" sizes="32x32" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/#about-me">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('cv') }}">CV</a>
          </li>
        </ul>
      </div>
      <div class="navbar-text">
        <strong>hello@joalex.dev</strong>
      </div>
    </nav>
        </div>
    </div>
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    
    {% block js %}{% endblock %}
</body>
</html>