{% extends "layout.html" %}

{% block head %}
<title>joalex.dev | Python Developer | Full-Stack Developer | Freelancer | Projects </title>
{% endblock %}

{% block body %}
<div class="text-white">
  <h1>Notorious Projects</h1>
  <a href="/">Go back</a>
  <div class="row mt-5">
    <div class="col-xl-5 project-container">
      <h2><span class="bg-dark">wools</span></h2>
      <p>URL Shorter built with Python Flask, VueJs and Docker.</p>
      <p>It isn't complicated: long links go in, small ones come out. </p> <p>Links are valid for 30 days - unless there's a sheep attack.</p>
      <img class="img-fluid" src="{{ url_for('static', filename='imgs/wools.png') }}" alt="wools is a URL shorter built with python and vuejs">
      <p class="mt-3">
        <span><a href="https://wools.joalex.dev">Visit Site</a></span>
        <span class="m-4"><a href="https://github.com/j-000/woolscc">Github</a></span>
      </p>
      </div>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
