{% extends 'layout.html' %}
{% block body %}
<p>Loading...</p>
{% endblock %}
{% block js %}
<script>
  getLocation()
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition)
    }
  }

  function showPosition(position) {
    console.log(position.coords)
    $.ajax({
      url: '/log-geo?geo=lat,' + position.coords.latitude + 'lon,' + position.coords.longitude,
      success: function(d){console.log(d);}
    })
  }
</script>
{% endblock %}