{% extends "layout.html" %}

{% block head %}
<title>joalex.dev | Python Developer | Full-Stack Developer | Freelancer | Projects </title>
{% endblock %}

{% block body %}
<h1 class="text-white text-center">Listen to nana and ...</h1>
<div class="row text-center mt-5">
    <div class="col">
        <img class="img-fluid" src="{{ url_for('static', filename='imgs/chill_out_nan.png') }}" alt="Fucking chill out nana">
        <p><a href="{{ url_for('home') }}" class="mt-5">Go home</a></p>
    </div>
</div>
{% endblock %}
